#main {
    display: flex;
    flex-flow: row nowrap;
}

#user{
    flex: 0 1 auto;

    background-color: #ffffff;

    text-align: center;
    display: flex;
    flex-flow: column wrap;

    border: 2px solid black;
    border-radius: 5px;

    max-width: 270px;
    margin: 1em;
}

#user > #headshot{
    margin: 1.5em;
}

#user > #name_user{
    text-align: center;
}

#user_lists{
    flex: 1 100%;

    background-color: #edeff0;
    margin: 1em;
    border: 2px solid black;
    border-radius: 5px;
}

#to-do-lists{
    flex: 1 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    min-height: 750px;

    background-image: linear-gradient(to top, white, #89CFF0);
}

#to-do-lists > article{
    margin: 1em;
    border: 2px solid black;
    border-radius: 5px;

    background-color: white;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: "title"
                         "table"
                         "footer";
}

#to-do-lists header{
    grid-area: title;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-checked{
  background-color: green;
}

.colorPick{

}

#to-do-lists > article > header > h1{
    text-align: center;
    font-size: 40px;
    padding: 0.5em;
    margin: 0;
}

#to-do-lists > article > header > h1 > a{
  color: white;
  text-decoration: none;
}

.deleteButton{
  position: absolute;
  cursor: pointer;
  border-radius: 100%;
  font-size:35px;
  color:red;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.deleteButton:hover{
  font-size: 40px;
}

.addList{
  position: absolute;
  background-color: green;
  cursor: pointer;
  border-radius: 100%;
  font-size:35px;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  box-shadow: 2px 2px 2px #999;
}

.privacyButton{
  float: right;
  cursor: pointer;
  border-radius: 100%;
  font-size:35px;
  color:gold;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.privacyButton:hover{
  font-size: 40px;
}

.addList:hover{
  font-size: 40px;
}

.tagsButton{
  cursor: pointer;
  border-radius: 100%;
  font-size: 35px;
  color: orange;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.tagsButton:hover{
  font-size: 40px;
}

.colorButton{
  float:right;
  cursor: pointer;
  border-radius: 100%;
  font-size: 35px;
  color: cyan;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.colorButton:hover{
  font-size: 40px;
}

.editTitle{
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: none;
  color:white;
  font-size: 32px;
}

#nav{
  background-color: #000000;
}

/* navigation */

.items table{
    grid-area: table;
    width: 100%;
    border-collapse: collapse;
}


.items td {
    text-align: center;
    padding: 15px;

    border: 1px solid black;
}

.item-check{
  background-color: #8db600;
  cursor:pointer;
}

.item-uncheck{
  cursor: pointer;
}

.item-check:hover,
.item-uncheck:hover{
  font-weight: 600;
}

.deleteItem{
  background-color: red;
  font-size: 15px;
  cursor: pointer;

  width: 10px;
}

.deleteItem:hover{
  box-shadow: 2px 2px 2px #999;
}

.addItem{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.addItem:hover{
  box-shadow: 2px 2px 2px #999;
}

.addItemConfirm{
  background-color: #4CAF50;
  font-size: 15px;
  cursor: pointer;
}

.addItemConfirm:hover{
  font-size: 15px;
  box-shadow: 2px 2px 2px #999;
}

/* Footer */

#to-do-lists footer{
    background-color: #f00;
    height: auto;
    padding: 0.5em;
    grid-area: footer;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.date{
    float: right;
    text-align: right;
    color: white;
    margin-left: 2em;
}

.date:before{
    content: "Modified in ";
}

.tags:first-child:before{
    content: "Tags: ";
    color: white;
}

.tags a{
    color: blue;
    text-decoration-line: none;
}



input[name=newItem]{
  text-align: center;
  padding: 15px;
  margin: 0em;
  font-size: 15px;
}

.inputItem{
  padding: 0em;
}

.inputItem > input{
  padding: 0px;
  border-radius: 12px;
}

@media all and (max-width: 750px) {
    #main{
        flex-flow: column wrap;
    }

    #user{
        flex-flow: row nowrap;
        min-width: 92.5%;
    }

    #user > #name_user{
        padding: 4em 0em;
    }

    #to-do-lists{
        flex-flow: column wrap;
    }

    #to-do-lists article:first-of-type{
        margin-top: 3em;
    }

    #to-do-lists footer{
        display: flex;
        flex-flow: row wrap;
    }

    .tags a{
        padding: 2px;
    }
}
