#main {
    display: flex;
    flex-flow: row nowrap;
}

#user{
    flex: 0 1 auto;

    background-color: #ffffff;

    text-align: center;
    display: flex;
    flex-flow: column wrap;

    border: 2px solid black;
    border-radius: 5px;

    max-width: 270px;
    margin: 1em;
}

#user > #headshot{
    margin: 1.5em;
}

#user > #name_user{
    text-align: center;
}

#user_lists{
    flex: 1 100%;

    background-color: #edeff0;
    margin: 1em;
    border: 2px solid black;
    border-radius: 5px;
}

#to-do-lists{
    flex: 1 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    min-height: 750px;

    background-image: linear-gradient(to top, white, #89CFF0);
}

#to-do-lists > article{
    margin: 1em;
    border: 2px solid black;
    border-radius: 5px;

    display: grid;
    grid-template-rows: [title] auto [items] auto [footer] auto;
}

#to-do-lists header{
    grid-area: title;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-unchecked{
  background-color: blue;
}

.list-checked{
  background-color: green;
}

/*
#to-do-lists img{
    grid-area: image;
    border-radius: 8px;
    width: 100%;
}
*/

#to-do-lists > article > header > h1{
    text-align: center;
    font-size: 40px;
    padding: 0.5em;
    margin: 0;
}

#to-do-lists > article > header > h1 > a{
  color: white;
  text-decoration: none;
}

#nav{
  background-color: #000000;
}

/* navigation */

#items table{
    width: 100%;
    height: 100%;
}

#items{
    grid-area: items;
}

#items tr:nth-child(even){
    background-color: #ccc;
}

#items tr:nth-child(odd){
    background-color: white;
}

#items td {
    text-align: center;
    padding: 15px;
}

#items td:hover{
    font-size: 25px;
    font-weight: 600;
}

/* Footer */

#to-do-lists footer{
    background-color: #f00;
    height: auto;
    padding: 0.5em;
    grid-area: footer;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.date{
    float: right;
    text-align: right;
    color: white;
    margin-left: 2em;
}

.date:before{
    content: "Modified in ";
}

.tags:first-child:before{
    content: "Tags: ";
    color: white;
}

.tags a{
    color: blue;
}

.item-check{
  background-color: #8db600;
  cursor:pointer;
}

.item-uncheck{
  cursor: pointer;
}

.addItem{
  background-color: #4CAF50;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.deleteItem{
  background-color: red;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.deleteItem:hover{

}

.addItemConfirm{
  display: none;
  background-color: #4CAF50;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
}

.inputItem{
  padding: 0em;
}

.inputItem > input{
  padding: 0px;
  border-radius: 12px;
}

@media all and (max-width: 750px) {
    #main{
        flex-flow: column wrap;
    }

    #user{
        flex-flow: row nowrap;
        min-width: 92.5%;
    }

    #user > #name_user{
        padding: 4em 0em;
    }

    #to-do-lists{
        flex-flow: column wrap;
    }

    #to-do-lists footer{
        display: flex;
        flex-flow: row wrap;
    }

    .tags a{
        padding: 2px;
    }
}
